
    <div class="animated fadeIn ae-grid__item--alt item-lg-12"style="text-align: center">
      <h4 class="ae-u-boldest" style="text-transform: uppercase">{{serviceabout.infAbout.titulo}}</h4>
    </div>
    
<div class="ae-grid au-xs-ta-center ">
        <!--Logo y nombre empresa-->
  <div class=" animated fadeIn ae-grid__item item-lg-3 ae-kappa au-mb-3">
    <img src="{{serviceabout.infAbout.logo}}" alt="Logo Empresa" class="au-mb-3" />
  </div>
  <!--Mision, about , cliente-->
  <div class="ae-grid__item item-lg-9 ae-kappa au-mb-6">
    <div class="ae-grid ae-grid--alt au-xs-ptp-1">
      <div class="animated fadeIn ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">About Us</h6>
        <p class="au-lh-3">
          {{serviceabout.infAbout.aboutOur}}
        </p>
      </div>
      <div class="animated fadeIn ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Our Mission</h6>
        <p class="au-lh-3">
          {{serviceabout.infAbout.mision}}
        </p>
      </div>
      <div class=" animated fadeIn ae-grid__item--alt item-lg-4">
        <h6 class="ae-u-boldest">Our Clients</h6>
        <p class="au-lh-3">{{serviceabout.infAbout.client}}</p>
      </div>
    </div>
  </div>
</div>
